<div class="container">
  <div class="filters">
    <!-- V1 -->
    <!-- <a *ngFor="let cat of ['Heads', 'Arms', 'Torsos', 'Bases']" 
    class="button" 
    (click)="filterCategory=cat">
      {{cat}}
    </a> -->
    <!-- <a class="button" (click)="filterCategory=''">All</a> -->

    <!-- V2 -->
    <!-- <a *ngFor="let category of ['Heads', 'Arms', 'Torsos', 'Bases']" 
    class="button" 
    [routerLink]="['/catalog', category]">
      {{category}}
    </a>
    <a class="button" [routerLink]="['/catalog', '']">All</a> -->

    <!-- V3 -->
    <a *ngFor="let category of ['Heads', 'Arms', 'Torsos', 'Bases']" 
    class="button" 
    routerLink="/catalog"
    [queryParams]="{ filter: category }"
    routerLinkActive="active">
      {{category}}
    </a>
    <!-- [routerLinkActiveOptions]="{exact: true}" is used to tell angular to match EXACTLY 
     /catalog, without any query parameter. This is necessary because otherwise the All btn 
     would be always active. -->
    <a class="button" routerLink="/catalog"
    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let currentProduct of getFilteredProducts()">
      <app-product-details [product]="currentProduct" (buy)="addToCart(currentProduct)"></app-product-details>
    </li>
  </ul>
</div>