<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form (ngSubmit)="saveContact(form)" #form="ngForm">
    <section>
      <nav>Name/Info</nav>
      <div>
        <con-profile-icon-selector [(ngModel)]="contact.icon" name="icon"></con-profile-icon-selector>
        <input type="hidden" [ngModel]="contact.id" name="id" />
        <input required placeholder="First Name" [(ngModel)]="contact.firstName" name="firstName" #firstName="ngModel"
          [class.error]="firstName.invalid && firstName.touched" minlength="3" />
        <em *ngIf="firstName.errors?.['required'] && firstName.touched">First Name must be present.</em>
        <em *ngIf="firstName.errors?.['minlength'] && firstName.touched">Must be at least 3 characters.</em>
        <input placeholder="Last Name" [(ngModel)]="contact.lastName" name="lastName" />
        <input type="date" placeholder="Date of Birth" [(ngModel)]="contact.dateOfBirth" name="dateOfBirth" />
        <div>
          <span>Favorites Ranking: </span>
          <input min="0" max="5" type="range" placeholder="Favorites Ranking" [(ngModel)]="contact.favoritesRanking"
            name="favoritesRanking" />
          {{contact.favoritesRanking}}
        </div>
        <div>
          <input type="checkbox" [(ngModel)]="contact.personal" name="personal" /> Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div class="flex-column" ngModelGroup="phone">
        <div *ngFor="let phone of contact.phones; let i=index" class="flex-column">
          <div class="flex-group">
            <input placeholder="Phone" [(ngModel)]="phone.phoneNumber" name="phoneNumber{{i}}" />
            <img src="/assets/plus-grey-blue.png" class="add" (click)="addPhone()" />
          </div>
          <div class="radio">
            <span *ngFor="let phoneType of phoneTypes">
              <input type="radio" [value]="phoneType" [(ngModel)]="phone.phoneType" name="phoneType{{i}}">
              {{capitalize(phoneType)}}
            </span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div class="address" ngModelGroup="address" #addressGroup="ngModelGroup"
          [class.error]="addressGroup.invalid && addressGroup.dirty">
          <div class="flex-group">
            <input required placeholder="Address" [(ngModel)]="contact.address.streetAddress" name="streetAddress" />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input required placeholder="City" [(ngModel)]="contact.address.city" name="city" />
          <input required placeholder="State/Region" [(ngModel)]="contact.address.state" name="state" />
          <input required placeholder="Zip/Postal Code" [(ngModel)]="contact.address.postalCode" name="postalCode" />
          <select [(ngModel)]="contact.address.addressType" name="addressType">
            <option value="home">Home</option>
            <option value="work">Work</option>
            <option value="other">Other</option>
          </select>
        </div>
        <em *ngIf="addressGroup.invalid && addressGroup.dirty">Incomplete address.</em>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea rows="3" placeholder="Notes" name="notes" [(ngModel)]="contact.notes" #notes="ngModel"
          [restrictedWords]="['foo','bar']" [class.error]="notes.errors?.['restrictedWords']">
        </textarea>
        <em *ngIf="notes.errors?.['restrictedWords']">
          Restricted words found: {{ notes.errors?.['restrictedWords'] }}
        </em>
      </div>
    </section>
    <div class="buttons">
      <button *ngIf="!form.submitted" class="secondary" type="button">Cancel</button>
      <button *ngIf="!form.submitted" class="primary" type="submit" [disabled]="form.invalid">Save</button>
      <button *ngIf="form.submitted" disabled type="button">Saving...</button>
    </div>
  </form>
</div>